[submodule "cartographer_ros"]
	path = cartographer_ros
	url = https://github.com/googlecartographer/cartographer_ros
[submodule "cartographer"]
	path = cartographer
	url = https://github.com/googlecartographer/cartographer
[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "rtabmap"]
	path = rtabmap
	url = https://github.com/introlab/rtabmap.git
